@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


#adminProductForm>label>input {
    width: 100%;
}

#adminProductForm>label,
div>label {
    font-weight: 900;
}

#adminProductFormCont {
    display: none;
    width: 550px;
    margin: auto;
    padding: 2rem;
    position: relative;
    top: 5px;
    right: 5px;
    background-color: teal;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#goToHomePage {
    cursor: pointer;
}

#adminFormContClose {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
}

#adminProductForm>input,
select,
button {
    margin: 0.5rem 0 0 0;
}

#adminProductForm {
    display: flex;
    flex-direction: column;
}

.productImageCont {
    max-width: 150px;
    /* height: 150px; */

}

.productImageCont>img {
    width: 50%;
    object-fit: cover;
}

.adminAddAndDeleteBtns {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.adminProductCard {
    /* border: 1px solid black; */
    /* height: 150px; */
    display: flex;
    margin: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    padding: 1rem;
}

#adminProducts {
    width: 80%;
    margin: auto;
}