* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#home__mainCont {
    padding: 0 2rem;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Navbar starts------------------------------------------------------------------- */

#home__cart {
    font-size: larger;
    position: relative;
}

#home__logo {
    cursor: pointer;
}

#home__cartLength {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: -20px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small;
    border-radius: 50%;
    color: white;
}

#home__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--gray);
}

#home__searchBar {
    display: flex;
    align-items: center;

}

#home__searchBarCont {
    border: 1px solid black;
    padding: 0.5rem;
    width: 50%;
    font-size: x-large;
}

#home__searchBar>input {
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
    font-size: large;
}

#home__linksCont {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* cursor: pointer; */
}

#home__logoutCont {
    position: absolute;
    display: none;
    top: 72px;
    width: 220px;
    text-align: center;
    right: 90px;
    background-color: white;
    padding: 1rem;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#home__linksCont>div {
    cursor: pointer;
}

#home__logoutCont>h2 {
    background-color: black;
    color: white;
    padding: 1rem 0;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    word-spacing: 2px;
}

/* Navbar Ends------------------------------------------------------------------------- */

/* #nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
} */

/* #nav>a>img {
    height: 50px;
}

#nav>a:nth-child(2) img {
    padding-right: 20px;
    height: 30px;

} */

/* main section  */

#main {
    width: 75%;
    margin: auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    border-top: 2px solid grey;

}

#main hr {
    margin: 10px;
    padding: 0px;
}

.divleft {
    width: 68%;
    /* border: 2px solid red; */
    padding-left: 5px;
    padding-right: 5px;
}

#langselect {
    margin-top: 7px;
    /* height: 20px; */
    font-size: 12px;
    margin-left: 160px;
}

#securecheckout {
    width: 100%;
    display: inline-flex;
    margin: 0px;
    padding: 3px;
    align-items: center;
}

.guaranteed {
    margin-top: 1rem;
}

#securecheckout>img {
    width: 40px;
}

#securecheckout span {
    padding-left: 10px;
}

#securecheckout h2,
h4 {
    margin: 3px;
}


#BorderfreeAccount {
    margin-top: 8px;
    /* border: 2px solid red; */
}

#BorderfreeAccount span {
    color: blue;
}

/* address section  */
#dilivery {
    margin: 0px;
    padding: 3px;
    font-size: 25px;
}

#deliveryaddress>input {
    width: 97%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
}

#deliveryaddress input::placeholder {
    font-size: 16px;
    padding: 5px;
}

.twoInput input {
    width: 47.5%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
}

.twoInput select {
    width: 49%;
    margin-top: 7px;
    margin-bottom: 5px;
    height: 30px;
    font-size: 18px;
    /* border: 2px solid red; */
}

.shipinghead {
    width: 97%;
    margin-top: 7px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: rgb(245, 236, 236);
    border-radius: 5px;
}

.shipingoption {
    width: 97%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
}

#checkoutbtn>button {
    width: 97%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    text-decoration: none;

}

#checkoutbtn button {
    background-color: grey;
    color: whitesmoke;
    border: none;
    width: 40%;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: auto;
    margin-top: 8px;

}

#buttomtext {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* div rigth started */

.divright {
    width: 32%;
    background-color: whitesmoke;
    padding: 10px;
}

/* #orderbox>div:nth-child(1) {
    display: flex;
    justify-items: center;

} */


#checkoutbtnrigth a {
    width: 97%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

#checkoutbtnrigth button {
    background-color: rgb(76, 69, 69);
    color: whitesmoke;
    border: none;
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.totalvalue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: 25px; */
}

.totalvalue p,
h2 {
    margin: 3px;
    padding: 5px;
}

#promocode {
    color: teal;
    font-size: 17px;
}

#promoapply {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#promoapply input {
    width: 60%;
    height: 20px;
    /* border-radius: 5px; */
}

#promoapply>button {
    width: 30%;
    padding: 6px;
    background-color: teal;
    border: none;
    border-radius: 5px;
    color: white;
}

/* item of cart */





#item>div {
    display: flex;
    justify-content: space-between;
}

#item>div {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(203, 197, 197);
    background-color: white;
    border-radius: 5px;
    margin-top: 8px;
}

#item>div img {
    width: 32%;
    border-radius: 5px;
}

#item>div div {
    width: 60%;
    padding: 4px;
}

#item>div p {
    margin: 0px;
    padding: 2px;
    font-size: 14px;

}

/* payment page css */
#deliverydeatil {
    display: flex;
    justify-content: space-between;
    align-items: initial;
}

.deliveryadderess,
.diliverymethod {
    width: 40%;
    padding-right: 10px;
    font-size: 13px;

}

/* payment */

.payDetail {

    padding: 10px;
}

.payDetail input {
    /* border: 2px solid red; */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid grey;

}

#widthIncrease {
    width: 59%;
}


/* payment section css complete */

form {
    margin-left: 10px;
}


@media screen and (max-width:500px) {

    #home__footerSubCont {
        grid-template-columns: repeat(3, 1fr);
    }

    #home__footerTermsandCondition {
        flex-direction: column;
        gap: 1rem;
    }

    #home__footer {
        padding: 1rem;
        z-index: 1;
        position: relative;
    }

    #home__mainCont {
        padding: 0 1rem;
    }

    #home__logo>h1 {
        font-size: x-large;
        text-align: center;
        padding: 0 0rem 1rem 0;
    }

    #home__nav {
        display: block;
    }

    #home__searchBarCont {
        width: 100%;
    }

    #home__linksCont {
        width: 100%;
        padding: 2rem 1rem 0 0;
    }

    #home__navCategory {
        display: none;
        flex-wrap: wrap;
        gap: 1rem;
    }

    #home__categoryName {
        border-bottom: 1px solid transparent;
    }

    #home__categoryName:hover {
        border-bottom: 1px solid black;
    }

    #buttomtext {
        width: 99%;
    }

    .divright {
        width: 100%;
    }

}

@media screen and (min-width:501px) and (max-width:900px) {
    #home__nav {
        flex-wrap: wrap;
    }

    #home__searchBarCont {
        width: 60%;
    }

    .payDetail {
        padding: 10px 10px 10px 0;
    }

    #home__mainCont {
        padding: 0 1rem;
    }

    #home__linksCont {
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        gap: 4rem;
        padding: 2rem 1rem 0 0;
    }


    #home__navCategory {
        flex-wrap: wrap;
        /* gap: 1rem; */
        column-gap: 2rem;
        row-gap: 0.5rem;
    }
}

@media screen and (min-width:501px) and (max-width:900px) {
    #main {
        width: 100%;
        margin: 0;
        padding-top: 1rem;
    }

    #langselect {
        display: none;
    }


}

@media screen and (max-width:500px) {
    #main {
        display: block;
        width: 100%;
        padding-top: 1rem;
    }

    #securecheckout {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .divleft {
        width: 100%;
    }

    #securecheckout h2,
    h4 {
        font-size: medium;
        width: fit-content;
    }

    #langselect {
        display: none;
    }

    .shipingoption {
        width: 100%;
    }

    form {
        margin: 0;
    }

    .payDetail {
        padding: 10px 0px 10px 0;
    }

    .paymentText {
        font-size: medium;
    }

    #widthIncrease {
        width: 93%;
    }

}