@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --gray: #b3b3b3
}


#home__mainCont {
    padding: 0 2rem;
}


/* Navbar starts------------------------------------------------------------------- */

#home__cart {
    font-size: larger;
    position: relative;
}

#home__logo {
    cursor: pointer;
}

#home__cartLength {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: -20px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small;
    border-radius: 50%;
    color: white;
}

#home__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--gray);
}

#home__searchBar {
    display: flex;
    align-items: center;

}

#home__searchBarCont {
    border: 1px solid black;
    padding: 0.5rem;
    width: 50%;
    font-size: x-large;
}

#home__searchBar>input {
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
    font-size: large;
}

#home__linksCont {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* cursor: pointer; */
}

#home__logoutCont {
    position: absolute;
    display: none;
    top: 72px;
    width: 220px;
    text-align: center;
    right: 90px;
    background-color: white;
    padding: 1rem;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#home__linksCont>div {
    cursor: pointer;
}

#home__logoutCont>h2 {
    background-color: black;
    color: white;
    padding: 1rem 0;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    word-spacing: 2px;
}

/* Navbar Ends------------------------------------------------------------------------- */


/* Nav category start------------------------------------------------- */

#home__navCategory {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

#home__navCategory>div {
    border-bottom: 2px solid transparent;
}

#home__subCategoryMainCont {
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 95%;
}

#home__subCategoryContInsideMain>div {
    width: 40%;
    margin-right: 1rem;
}

#home__subCategoryContInsideMain>div:nth-of-type(1)>p {
    font-weight: 700;
}


#home__subCategoryContImg>img {
    width: 100%;
}

#home__subCategoryContInsideMain p {
    margin-bottom: 1rem;
    font-size: small;
    width: fit-content;
}

#home__subCategoryContInsideMain p:nth-of-type(1) {
    font-weight: 700;
}

#home__subCategoryContInsideMain p:hover {
    border-bottom: 2px solid black;
}

#home__subCategoryCont {
    display: none;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#home__subCategoryContInsideMain {
    display: flex;
}

#home__navCategory>div:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

/* Nav CAtegory End---------------------------------------------------------- */

/* caurosal start-------------------------------------------------------------- */

#home__carousalMainCont {
    position: relative;
    z-index: 0;
}

#home__carousalPrevBtn {
    position: absolute;
    top: 306px;
    left: 0px;
    /* border: 1px solid black; */
    color: var(--gray);
    font-size: x-large;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home__carousalNextBtn {
    position: absolute;
    top: 306px;
    right: 0px;
    /* border: 1px solid black; */
    color: var(--gray);
    font-size: x-large;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home__carousalNextBtn:hover,
#home__carousalPrevBtn:hover {
    background-color: var(--gray);
    color: white;
}


#home__carousal {
    width: 100%;
    height: 635px;
    position: relative;
    overflow: hidden;
}

.home__slides {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    transition: 1s;
}

/* caurosal end-------------------------------------------------------------- */


/* caurosal2 Start------------------------------------------------ */

#home__carousalMainCont2 {
    position: relative;
    z-index: 0;
}

#home__carousalPrevBtn2 {
    position: absolute;
    top: 306px;
    left: 0px;
    /* border: 1px solid black; */
    color: var(--gray);
    font-size: x-large;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home__carousalNextBtn2 {
    position: absolute;
    top: 306px;
    right: 0px;
    /* border: 1px solid black; */
    color: var(--gray);
    font-size: x-large;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home__carousalNextBtn2:hover,
#home__carousalPrevBtn2:hover {
    background-color: var(--gray);
    color: white;
}


#home__carousal2 {
    width: 100%;
    height: 635px;
    position: relative;
    overflow: hidden;
}

.home__slides2 {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    transition: 1s;
}

/* caurosal2 end------------------------------------------------------ */

/* caurosal3 start---------------------------------------------------- */


#home__carousalMainCont3 {
    position: relative;
    z-index: 0;
}

#home__carousalPrevBtn3 {
    position: absolute;
    top: 306px;
    left: 0px;
    /* border: 1px solid black; */
    color: var(--gray);
    font-size: x-large;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home__carousalNextBtn3 {
    position: absolute;
    top: 306px;
    right: 0px;
    /* border: 1px solid black; */
    color: var(--gray);
    font-size: x-large;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home__carousalNextBtn3:hover,
#home__carousalPrevBtn3:hover {
    background-color: var(--gray);
    color: white;
}


#home__carousal3 {
    width: 100%;
    height: 635px;
    position: relative;
    overflow: hidden;
}

.home__slides3 {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    transition: 1s;
}


/* caurosal3 end---------------------------------------------------- */

/* carousal4 start------------------------------------------------------ */

#home__carousalMainCont4 {
    position: relative;
    z-index: 0;
}

#home__carousalPrevBtn4 {
    position: absolute;
    top: 125px;
    left: 0px;
    /* border: 1px solid black; */
    color: var(--gray);
    font-size: x-large;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home__carousalNextBtn4 {
    position: absolute;
    top: 115px;
    right: 0px;
    /* border: 1px solid black; */
    color: var(--gray);
    font-size: x-large;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home__carousalNextBtn4:hover,
#home__carousalPrevBtn4:hover {
    background-color: var(--gray);
    color: white;
}


#home__carousal4 {
    width: 100%;
    height: 290px;
    position: relative;
    overflow: hidden;
}

.home__slides4 {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    transition: 1s;
}

/* carousal4 end------------------------------------------------------ */







/* Footer Styles Starts------------------------------------------ */
#adminAccess {
    cursor: pointer;
    width: fit-content;
    font-size: small;
    margin-bottom: 1rem;
}

#home__footerTermsandCondition {
    /* display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 0.5fr; */
    width: fit-content;
    font-size: small;
    display: flex;
    justify-content: space-between;
}

#home__footerTermsandCondition>div {
    width: fit-content;
    margin-right: 3rem;
    border-bottom: 2px solid transparent;
}

#home__footerTermsandCondition>div:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

#adminAccess:hover {
    border-bottom: 2px solid black;
}

#adminFormCont {
    display: none;
    position: relative;
    width: 350px;
}

#adminFormClose {
    position: absolute;
    right: 5px;
    margin: 0.3rem;
    cursor: pointer;
}

#adminLoginForm {
    display: flex;
    flex-direction: column;
    background-color: teal;
    padding: 2rem;
}

#adminLoginForm>input {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: medium;
}

#adminLoginForm>button {
    padding: 0.5rem;
    font-size: medium;
}

#home__footer {
    background-color: #f6f9ff;
    padding: 2rem;
}

#home__footerSubCont {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

#home__footerSubCont>div {
    /* margin-right: 1rem; */
}

#home__footerSubCont>div>p {
    margin-bottom: 1rem;
    border: 1px solid transparent;
    width: fit-content;
    font-size: small;
}

#home__footerSubCont>div>p:nth-of-type(1) {
    font-weight: 800;
}

#home__footerSubCont>div>p:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

#home__footerIcons {
    display: flex;
    /* justify-content: space-between; */
    /* margin-right: 0.5rem; */
}

#home__footerIcons>div {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 0.5rem;

}

/* Footer Styles Ends------------------------------------------ */


/* Add1  Starts*/
#home__add1 {
    margin-top: 2rem;
    padding: 3rem 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;
    font-size: small;
}

#home__trendingCarousal {
    letter-spacing: 3px;
    text-align: center;
    padding: 3rem 0;
    font-weight: 500;
}

#home__add2 {
    margin: 3rem 0;
}

#home__add2>img {
    width: 100%;
}

#home__add3 {
    padding: 3rem 0;
    text-align: center;
    border-top: 3px solid black;
    margin-top: 3rem;
    font-size: medium;
}

#home__add3>div {
    text-decoration: underline;
    cursor: pointer;
}

#home__add4 {
    padding: 3rem 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 3rem 0;
    text-align: center;
}

#home__add4 h3 {
    margin-bottom: 3rem;
    letter-spacing: 3px;
}

#home__add4ImgCont {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#home__add4ImgCont>div {
    width: 16%;
}

#home__add4ImgCont>div>img {
    width: 100%;
    object-fit: cover;
}

#home__add3>h2 {
    letter-spacing: 5px;
    word-spacing: 7px;

}

#home__add3ImgCont {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

#home__add3ImgCont>div {
    width: 33%;
}

#home__add3ImgCont>div>img {
    width: 100%;
}

#home__add1>h2 {
    letter-spacing: 3px;
    margin-bottom: 0.5rem;
}

#home__add1>div {
    text-decoration: underline;
    width: fit-content;
    margin: auto;
}

#home__add1>div>span {
    margin-right: 1rem;
}

#home__add1ImgCont {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

#home__add1ImgCont>div {
    width: 49%;
    margin-top: 3rem;
}

#home__add1ImgCont>div>img {
    width: 100%;
}

/* Add1  Ends*/


@media screen and (max-width:500px) {

    #home__footerSubCont {
        grid-template-columns: repeat(3, 1fr);
    }

    #home__footerTermsandCondition {
        flex-direction: column;
        gap: 1rem;
    }

    #home__footer {
        padding: 1rem;
    }

    #home__mainCont {
        padding: 0 1rem;
    }

    #home__logo>h1 {
        font-size: x-large;
        text-align: center;
        padding: 0 0rem 1rem 0;
    }

    #home__nav {
        display: block;
    }

    #home__searchBarCont {
        width: 100%;
    }

    #home__linksCont {
        width: 100%;
        padding: 2rem 1rem 0 0;
    }

    #home__navCategory {
        display: none;
        flex-wrap: wrap;
        gap: 1rem;
    }

    #home__categoryName {
        border-bottom: 1px solid transparent;
    }

    #home__categoryName:hover {
        border-bottom: 1px solid black;
    }

    #home__carousalNextBtn,
    #home__carousalPrevBtn {
        top: 48px
    }

    .home__slides {
        height: fit-content
    }

    #home__carousal,
    #home__carousal2,
    #home__carousal3 {
        height: 149px;
    }

    .home__slides2,
    .home__slides3,
    .home__slides4 {
        height: auto;
    }

    #home__carousalNextBtn2,
    #home__carousalPrevBtn2,
    #home__carousalNextBtn3,
    #home__carousalPrevBtn3 {
        top: 48px;
    }

    #home__carousalNextBtn4,
    #home__carousalPrevBtn4 {
        top: 16px
    }

    #home__carousal4 {
        height: 85px;
    }

}

@media screen and (min-width:501px) and (max-width:900px) {
    #home__nav {
        flex-wrap: wrap;
    }

    #home__searchBarCont {
        width: 60%;
    }

    #home__linksCont {
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        gap: 4rem;
        padding: 2rem 1rem 0 0;
    }


    #home__navCategory {
        flex-wrap: wrap;
        /* gap: 1rem; */
        column-gap: 2rem;
        row-gap: 0.5rem;
    }

    .home__slides,
    .home__slides2,
    .home__slides3 {
        height: auto;
    }

    #home__carousalNextBtn,
    #home__carousalPrevBtn,
    #home__carousalNextBtn2,
    #home__carousalPrevBtn2,
    #home__carousalNextBtn3,
    #home__carousalPrevBtn3 {
        top: 137px;
    }

    #home__carousal,
    #home__carousal2,
    #home__carousal3 {
        height: 330px;
    }

}