@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --gray: #b3b3b3
}

/* width */
#products__productsCont::-webkit-scrollbar {
    width: 0px;
}

/* Track */
#products__productsCont::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
#products__productsCont::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

/* Handle on hover */
#products__productsCont::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}


#products__mainCont {
    padding: 0 2rem;
}

/* Navbar starts------------------------------------------------------------------- */

#home__cart {
    font-size: larger;
    position: relative;
}

#home__logo {
    cursor: pointer;
}

#home__cartLength {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: -20px;
    right: -15px;
    text-align: center;
    font-size: small;
    border-radius: 50%;
    color: white;
}

#home__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--gray);
}

#home__searchBar {
    display: flex;
    align-items: center;

}

#home__searchBarCont {
    border: 1px solid black;
    padding: 0.5rem;
    width: 50%;
    font-size: x-large;
}

#home__searchBar>input {
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
    font-size: large;
}

#home__linksCont {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* Navbar Ends------------------------------------------------------------------------- */


#products__productsMainCont {
    min-height: 500px;

    display: flex;
    justify-content: space-between;
}

#products__filtersCont {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 5rem;
}

#products__filtersCont img {
    width: 100%;
}

#products__ImgCont {
    min-height: 422px;
    max-height: 422px;
}

#products__add1>img {
    width: 100%;
    margin: 2rem 0;
}

#products__detailsSubCont p:nth-of-type(1),
p:nth-of-type(3) {
    font-weight: 700;
}

#products__detailsSubCont p {
    font-size: 14px;
    margin-bottom: 0.5rem;
}

#products__productTypeFilter h3,
#products__genderFilter h3 {
    padding: 0.5rem 0.3rem;

}

#products__productTypeFilter>div,
#products__genderFilter>div {
    padding: 0.5rem 0;
}

#products__filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#products__genderCollaps,
#products__typeCollaps {
    display: none;
}

#products__filterAddMainCont {
    margin-top: 2rem;
}

#products__productTypeFilter,
#products__genderFilter {
    /* border: 2px solid red; */

    height: 56px;
    /* height: fit-content; */
    overflow: hidden;
}

#products__filtersCont label {
    margin-left: 1rem;
}

#products__filtersCont input {
    margin-right: 0.5rem;
}

#products__productTypeFilter {
    border-bottom: 1px solid gray;
}

#products__genderFilter {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#products__productsCont {
    width: 78%;
    max-height: 1670px;
    overflow-y: scroll;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}


.product__productCard {
    width: 100%;
}




.product__productCard img {
    width: 100%;
    min-height: 389px;
    object-fit: contain;
}





/* Footer Styles Starts------------------------------------------ */
#adminAccess {
    cursor: pointer;
    width: fit-content;
    font-size: small;
    margin-bottom: 1rem;
}

#home__footerTermsandCondition {
    /* display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 0.5fr; */
    width: fit-content;
    font-size: small;
    display: flex;
    justify-content: space-between;
}

#home__footerTermsandCondition>div {
    width: fit-content;
    margin-right: 3rem;
    border-bottom: 2px solid transparent;
}

#home__footerTermsandCondition>div:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

#adminAccess:hover {
    border-bottom: 2px solid black;
}

#adminFormCont {
    display: none;
    position: relative;
    width: 350px;
}

#adminFormClose {
    position: absolute;
    right: 5px;
    margin: 0.3rem;
    cursor: pointer;
}

#adminLoginForm {
    display: flex;
    flex-direction: column;
    background-color: teal;
    padding: 2rem;
}

#adminLoginForm>input {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: medium;
}

#adminLoginForm>button {
    /* margin-bottom: 0.5rem; */
    padding: 0.5rem;
    font-size: medium;
}

#home__footer {
    background-color: #f6f9ff;
    padding: 2rem;
}

#home__footerSubCont {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}


#home__footerSubCont>div>p {
    margin-bottom: 1rem;
    border: 1px solid transparent;
    width: fit-content;
    font-size: small;
}

#home__footerSubCont>div>p:nth-of-type(1) {
    font-weight: 800;
}

#home__footerSubCont>div>p:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

#home__footerIcons {
    display: flex;
    /* justify-content: space-between; */
    /* margin-right: 0.5rem; */
}

#home__footerIcons>div {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 0.5rem;

}

/* Footer Styles Ends------------------------------------------ */