@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --gray: #b3b3b3
}


#home__mainCont {
    padding: 0 2rem;
}


/* Navbar starts------------------------------------------------------------------- */

#home__cart {
    font-size: larger;
    position: relative;
}

#home__logo {
    cursor: pointer;
}

#home__cartLength {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: -20px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small;
    border-radius: 50%;
    color: white;
}

#home__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--gray);
}

#home__searchBar {
    display: flex;
    align-items: center;

}

#home__searchBarCont {
    border: 1px solid black;
    padding: 0.5rem;
    width: 50%;
    font-size: x-large;
}

#home__searchBar>input {
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
    font-size: large;
}

#home__linksCont {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* Navbar Ends------------------------------------------------------------------------- */

#signup__signupForm {
    padding: 2rem;
    width: 32%;
    margin: 7rem auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border-radius: 5px;
}

#signup__signupForm>h1 {
    font-weight: 500;
    margin-bottom: 1rem;
}

#signup__form {
    display: flex;
    flex-direction: column;
}

#signup__form input {
    border: 1px solid black;

    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: large;
    outline: none;
    border-radius: 5px;
}

#signup__form input:nth-of-type(5) {
    background-color: black;
    color: white;
    font-weight: 500;
    cursor: pointer;
}


/* Footer Styles Starts------------------------------------------ */
#adminAccess {
    cursor: pointer;
    width: fit-content;
    font-size: small;
    margin-bottom: 1rem;
}

#home__footerTermsandCondition {
    /* display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 0.5fr; */
    width: fit-content;
    font-size: small;
    display: flex;
    justify-content: space-between;
}

#home__footerTermsandCondition>div {
    width: fit-content;
    margin-right: 3rem;
    border-bottom: 2px solid transparent;
}

#home__footerTermsandCondition>div:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

#adminAccess:hover {
    border-bottom: 2px solid black;
}

#adminFormCont {
    display: none;
    position: relative;
    width: 350px;
}

#adminFormClose {
    position: absolute;
    right: 5px;
    margin: 0.3rem;
    cursor: pointer;
}

#adminLoginForm {
    display: flex;
    flex-direction: column;
    background-color: teal;
    padding: 2rem;
}

#adminLoginForm>input {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: medium;
}

#adminLoginForm>button {
    /* margin-bottom: 0.5rem; */
    padding: 0.5rem;
    font-size: medium;
}

#home__footer {
    background-color: #f6f9ff;
    padding: 2rem;
}

#home__footerSubCont {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

#home__footerSubCont>div {
    /* margin-right: 1rem; */
}

#home__footerSubCont>div>p {
    margin-bottom: 1rem;
    border: 1px solid transparent;
    width: fit-content;
    font-size: small;
}

#home__footerSubCont>div>p:nth-of-type(1) {
    font-weight: 800;
}

#home__footerSubCont>div>p:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

#home__footerIcons {
    display: flex;
    /* justify-content: space-between; */
    /* margin-right: 0.5rem; */
}

#home__footerIcons>div {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 0.5rem;

}

/* Footer Styles Ends------------------------------------------ */

@media screen and (max-width:500px) {

    #home__footerSubCont {
        grid-template-columns: repeat(3, 1fr);
    }

    #home__footerTermsandCondition {
        flex-direction: column;
        gap: 1rem;
    }

    #home__footer {
        padding: 1rem;
        z-index: 1;
        position: relative;
    }

    #home__mainCont {
        padding: 0 1rem;
    }

    #home__logo>h1 {
        font-size: x-large;
        text-align: center;
        padding: 0 0rem 1rem 0;
    }

    #home__nav {
        display: block;
    }

    #home__searchBarCont {
        width: 100%;
    }

    #home__linksCont {
        width: 100%;
        padding: 2rem 0 0.1rem 0;
    }

    #home__navCategory {
        display: none;
        flex-wrap: wrap;
        gap: 1rem;
    }

    #home__categoryName {
        border-bottom: 1px solid transparent;
    }

    #home__categoryName:hover {
        border-bottom: 1px solid black;
    }


}

@media screen and (min-width:501px) and (max-width:900px) {
    #home__nav {
        flex-wrap: wrap;
    }

    #home__searchBarCont {
        width: 60%;
    }

    #home__linksCont {
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        gap: 4rem;
        padding: 2rem 1rem 0 0;
    }


    #home__navCategory {
        flex-wrap: wrap;
        /* gap: 1rem; */
        column-gap: 2rem;
        row-gap: 0.5rem;
    }
}

@media screen and (min-width:501px) and (max-width:900px) {
    #signup__signupForm {
        width: 60%;
    }
}

@media screen and (max-width:500px) {
    #signup__signupForm {
        width: 100%;
    }
}